<% provide :title, t(".title") %>
  <main>
    <section class="ray-page container">
      <ul class="ray-breadcrumbs">
        <li class="ray-breadcrumb">
          <%= t ".search" %>
        </li>
      </ul>
    </section>
    <section class="content container">
      <div class="header">
        <div class="header__right">
          <h1 id="slot_name_title"><%= t ".title" %></h1>
        </div>
        <div class="header__left">
          <p> <%= t ".address" %> </p>
        </div>
      </div>
      <div class="main">
        <div class="main__left">
          <div class="products" id="slot-info-products">
            <% @stores.each do |store| %>
              <div>
                <div class="product slot-info-product" id="store_product">
                  <%= image_tag Settings.links.store_image, class: "slot-info-product-img" %>
                  <div class="product__detail">
                    <h3><%= link_to store.name, slot_store_path(store.slot.id, store.id) %></h3>
                    <p><%= store.description %></p>
                    <% if store.status == Store.statuses.key(1) %>
                      <p><b><%= t ".pending" %></b></p>
                      <button type="button" class="ray-tag amenity-tag" data-toggle="modal" data-target="#exampleModal">
                        <%= t ".cancel" %>
                      </button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel"><%= t ".modal_title" %></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <%= t ".confirm_content" %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t ".close" %></button>
                              <%= link_to t(".confirm"), destroy_store_path(store.id), class: "btn btn-primary"%>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% elsif store.status == Store.statuses.key(2) %>
                      <p><b><%= t ".rent" %></b></p>
                    <% elsif store.status == Store.statuses.key(3) %>
                      <p><b><%= t ".rejected" %></b></p>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="mt-4">
              <%= paginate @stores, theme: "twitter-bootstrap-4", pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
            </div>
          </div>
          <div class="pricing">
            <h2><%= t ".amenities" %></h2>
            <p><%= t ".mission" %></p>
          </div>
          <div class="previews">
            <div class="preview">
              <li class="p-info-img fas fa-hand-sparkles"></li>
              <p><%= t ".clean" %></p>
            </div>
            <div class="preview">
              <li class="p-info-img fas fa-balance-scale"></li>
              <p><%= t ".business" %></p>
            </div>
            <div class="preview">
              <li class="p-info-img fas fa-dollar-sign"></li>
              <p><%= t ".affordable" %></p>
            </div>
            <div class="preview">
              <li class="p-info-img fas fa-smile-wink"></li>
              <p><%= t ".location" %></p>
            </div>
            <%= link_to t(".googlemap_link"), "https://bit.ly/2CS5Il7", target: "_blank"%>
          </div>
        </div>
        <div class="main__right", id="store_main_right">
          <div class="lead" id="slider">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <% current_user.stores.each_with_index do |store, index| %>
                    <% if index == 0 %>
                      <div class="carousel-item active">
                        <%= image_tag Settings.links.store_image, class: "d-block w-100" %>
                        <div class="carousel-caption d-none d-md-block">
                          <h5><%= store.name %></h5>
                          <p><%= store.description %></p>
                        </div>
                      </div>
                    <% else %>
                      <div class="carousel-item">
                        <%= image_tag Settings.links.store_image, class: "d-block w-100" %>
                        <div class="carousel-caption d-none d-md-block">
                          <h5><%= store.name %></h5>
                          <p><%= store.description %></p>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only"><%= t ".previous" %></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only"><%= t ".next" %></span>
                </a>
            </div>
          </div>
          <div class="lead" style="margin-top: 20px;">
            <h3><%= t ".experience_title" %></h3>
            <p class="text__footer"><%= t ".experience" %><%= Settings.info.phone %></p>
          </div>
        </div>
      </div>
    </section>
  </main>
