<% provide :title, t(".title") %>
  <main>
    <section class="ray-page container">
      <ul class="ray-breadcrumbs">
        <li class="ray-breadcrumb">
          <%= t ".search" %>
        </li>
      </ul>
    </section>
    <section class="content container">
      <div class="header">
        <div class="header__right">
          <h1 id="slot_name_title"><%= @store.name %></h1>
        </div>
        <div class="header__left">
          <p> <%= t ".address" %> </p>
        </div>
      </div>
      <div class="main">
        <div class="main__left">
          <%= image_tag Settings.links.store_image %>
          <div class="pricing">
            <h2><%= t ".description" %></h2>
            <p><%= @store.description %></p>
          </div>
          <div class="previews">
            <div class="preview">
              <li class="p-info-img fas fa-hand-sparkles"></li>
              <p><%= t ".clean" %></p>
            </div>
            <div class="preview">
              <li class="p-info-img fas fa-balance-scale"></li>
              <p><%= t ".business" %></p>
            </div>
            <div class="preview">
              <li class="p-info-img fas fa-dollar-sign"></li>
              <p><%= t ".affordable" %></p>
            </div>
            <div class="preview">
              <li class="p-info-img fas fa-smile-wink"></li>
              <p><%= t ".location" %></p>
            </div>
            <a href="https://bit.ly/2CS5Il7" target="_blank"><%= t ".googlemap_link" %></a>
          </div>
        </div>
        <div class="main__right">
          <div class="lead">
            <h5><%= t ".mystore_information" %></h5>
            <p class="store-info-p"> <%= t ".area" %>: <%= @store.slot.area %><span>m<sup>2</sup></span> </p>
            <p class="store-info-p"> <%= t ".price" %>: <%= @store.slot.price %></p>
            <% if @store.status == Store.statuses.key(1) %>
              <p class="store-info-p"> <%= t ".status" %>: <%= t ".waiting" %></p>
              <p class="store-info-p"><%= t ".cancel_check" %></p>
              <button type="button" id="button_dangky" data-toggle="modal" data-target="#exampleModal">
                <%= t ".cancel" %>
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><%= t ".modal_title" %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= t ".confirm_content" %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t ".close" %></button>
                      <%= link_to t(".confirm"), destroy_store_path(@store.id), class: "btn btn-primary"%>
                    </div>
                  </div>
                </div>
              </div>
            <% elsif @store.status == Store.statuses.key(2) %>
              <p class="store-info-p"> <%= t ".status" %>: <%= t ".hiring" %></p>
            <% elsif @store.status == Store.statuses.key(3)%>
              <p class="store-info-p"> <%= t ".status" %>: <%= t ".rejected" %></p>
            <% end %>
          </div>
          <div class="lead" style="margin-top: 20px;">
            <h3><%= t ".experience_title" %></h3>
            <p class="text__footer"><%= t ".experience" %><a href="#"><%= @store.slot.terminal.employee.email %>  </a></p>
          </div>
        </div>
      </div>
    </section>
  </main>
