<% provide :title, t(".title") %>
<body class="hold-transition login-page">
  <%= toastr_flash %>
  <div id="custom_nav">
    <%= render "shared/custom_navbar" %>
  </div>
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
        <div class="login-logo">
          <b><%= t ".employee" %></b>
        </div>
        <p class="login-box-msg"><%= t ".log_in_to_start_your_session" %></p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="input-group mb-3">
            <%= f.email_field :email, required: true, class: "form-control", placeholder: t(".email") %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <%= f.password_field :password, required: true, class: "form-control", placeholder: t(".password") %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="icheck-primary">
                <%= f.check_box :remember_me, id: "remember" %>
                <label for="remember">
                  <%= t".remember_me" %>
                </label>
              </div>
            </div>
            <div class="col-6">
              <%= f.submit t(".log_in"), class: "btn btn-primary btn-block" %>
            </div>
          </div>
        <% end %>
        <div class="social-auth-links text-center mb-3">
          <p>- <%= t ".or_log_in_with" %> -</p>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fas fa-comment-dollar mr-2"></i> <%= t ".wsm" %>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
