<% provide :title, t(".title") %>
  <main>
    <section class="ray-page container">
      <ul class="ray-breadcrumbs">
        <li class="ray-breadcrumb">
          <a href="#"><%= t ".airport_terminal" %> </a>
        </li>
      </ul>
    </section>
    <div id="list-slots-custom">
      <section class="content custom container">
        <div class="header">
          <div class="header__right">
            <h1><%= @terminal.name %></h1>
            <span>
            <div class="dropdown show">
              <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLinkTerminal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Terminal
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkTerminal">
                <% Terminal.all.each do |terminal| %>
                  <%= link_to terminal, class: "dropdown-item", id: "dropdownMenuLinkTerminal" do %>
                    <p><%= terminal.name %></p>
                  <% end %>
                <% end %>
              </div>
            </div>
            </span>
          </div>
          <div class="header__left">
            <p> <%= t ".address" %> </p>
          </div>
        </div>
        <div class="main">
          <div class="main__left">
            <%= render "layouts/search_slot_form", q: @qt%>
            <div class="products">
              <% if @slots.size != 0 %>
                <% @slots.each do |slot| %>
                  <%= link_to slot do %>
                    <div class="product" id="terminalItem">
                      <%= link_to slot do %>
                        <%= image_tag Settings.links.store_image %>
                      <% end %>
                      <div class="product__title">
                        <%= link_to slot.name, slot %>
                        <% if slot.is_empty %>
                          <span class="badge badge-success slot_status"><%= t ".empty" %></span>
                        <% else %>
                          <span class="badge badge-info slot_status"><%= t ".rented" %></span>
                        <% end %>
                      </div>
                      <p class="product__title">
                        <%= slot.terminal.name %>
                        <span class="badge badge-warning slot_status">
                          <%= slot.area %>&#13217;
                        </span>
                        <span class="badge badge-primary slot_status">
                          <%= slot.price %>&#x24;
                        </span>
                      </p>
                    </div>
                  <% end %>
                <% end %>
                <div class="mt-4">
                  <%= paginate @slots, theme: "twitter-bootstrap-4", pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
                </div>
              <% else %>
                <h1 class="text-center"><%= t ".no_result" %></h1>
                <hr>
              <% end %>
              <div class="footer">
                <h2><%= t ".terminal_information" %> </h2>
                <p class="text__header"><%= t ".name" %>: <%= @terminal.name %></p>
                <span class="text__header"><%= t ".area" %>: <%= @terminal.area %> <span>m<sup>2</sup></span></p>
                <i class="fas fa-phone"><%= Settings.info.phone %> </i>
              </div>
            </div>
            <div class="text">
              <h2> <%= t ".description_title" %> </h2>
              <p><%= @terminal.description %></p>
              <a href="#"> <%= t ".address" %> </a>
            </div>
          </div>
          <div class="main__right home_main_right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.3309818186235!2d105.80198221533867!3d21.218719886641136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135021539afc453%3A0xe6e0faa3520226b4!2zQ-G6o25nIGjDoG5nIGtow7RuZyBxdeG7kWMgdOG6vyBO4buZaSBCw6Bp!5e0!3m2!1svi!2s!4v1598076515519!5m2!1svi!2s" width="100%" height="800" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
      </section>
    </div>
  </main>
