<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | <%= t ".store_management" %></title>
    <%= render "layouts/theme_default" %>
    <%= render "layouts/rails_default" %>
  </head>
  <% unless disable_layout? %>
    <body class="sidebar-mini sidebar-collapse">
      <div class="wrapper">
        <%= render "layouts/navbar" %>
        <%= render "layouts/user_sidebar" %>
        <div class="content-wrapper">
          <%= render "shared/flash_messages" %>
          <%= yield %>
        </div>
        <%= render "layouts/footer" %>
      </div>
    </body>
  <% else %>
    <%= render "shared/flash_messages" %>
    <%= yield %>
  <% end %>
</html>
