<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | <%= t ".store_management" %></title>
    <%= render "layouts/theme_default" %>
    <%= render "layouts/rails_default" %>
  </head>
  <% unless disable_layout? %>
    <body id="app" class>
      <div class>
        <%= render "layouts/user_navbar" %>
        <div class="">
          <%= toastr_flash %>
          <%= yield %>
        </div>
        <%= render "layouts/footer" %>
      </div>
    </body>
  <% else %>
    <%= yield %>
  <% end %>
</html>
