
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | <%= t ".store_management" %></title>
    <%= render "layouts/theme_default" %>
    <%= render "layouts/rails_default" %>
  </head>
  <% unless disable_layout? %>
    <% if employee_logged_in? %>
      <body class="sidebar-mini sidebar-collapse">
        <div class="wrapper">
            <%= render "layouts/employee_navbar" %>
            <%= render "layouts/employee_sidebar" %>
          <div class="content-wrapper">
            <%= toastr_flash %>
            <%= yield %>
          </div>
          <%= render "layouts/footer" %>
        </div>
      </body>
    <% else %>
      <body id="app" class>
        <div class>
          <%= render "layouts/user_navbar" %>
          <div class="">
            <%= toastr_flash %>
            <%= yield %>
          </div>
          <%= render "layouts/footer" %>
        </div>
      </body>
    <%end%>
  <% else %>
    <%= yield %>
  <% end %>
</html>
